
.color-page-blue{
  background-color: #053B5E !important;
}

.inputform {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitform {
  width: 200px;
  background-color: #26C485;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}

.submitform:hover {
  background-color: #086bac;
}

.textform-blue{
  color: white;
}

.form-width {
  width: 75%;
}

.spaceform{
  margin-left: 327px;
  width: 70%;
}

.spacetext{
  margin-left: 325px;
  width: 66%;
}

.imgform{
  width: 380px;
  margin-top: 60px;
}

.formwidth{
  width: 100% !important;
}

.textwidth{
  width: 80%;
}

.imgbook{
  width: 400px;
  margin-top: 120px;
}

.spaceimg{
  margin-left: 250px;
}
.textbookspace{
  margin-top: 120px;
}

.divcuston{
  width: 69% !important;
  
}

.changetext{
  font-weight: bold;
}

.listlanding {
  list-style-type: disc;
  color: #ccc;
  font-size: 20px;
}

.h4space{
  margin-left: 35px;
}

.lispace-blue{
  margin-top: 15px;
  color: white;
}

.secformcolor-blue{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 80px;
}

.textform-blue-input{
  color:#086bac;
}


