
.imgmodal{
  width: 300px;
  margin-top: 25px;
}

.colortextmodal{
  color: #50514F;

  margin-top: 100px;
}


.spacebuttons{
  margin-top: 150px;
  width: 600px;
  background-color: #fbfcff;

}

.spacedate{
  margin-top: 140px;
   width: 600px;
   margin-left: auto;
}

.texthrspace{
  margin-top: 40px;
}

.divmodalpassos{
  margin-left: 60px;
}

.datebutton{
  width: 300px;
  height: 100px;
  margin-top: 70px;
  background-color: #086bac;
  margin-bottom: 61px;
}

.colortextbutton{
  color: white;
}


.colorpassos{
  color: #50514f;
}

.modalpassos{
  color: #50514f;
}

.btnmodal:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btnmodal:hover .svgmodal {
  stroke-dashoffset: -480;
}

.btnmodal {
  background-color: #086bac;
  font-size: 18px;
  width: 300px;
  height: 130px;
  margin-top: 60px;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
}

.button_slide {
  color: #26c485;
  border: 2px solid #26c485;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #26c485;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-bottom: 30px;
  height: 100px;
  margin-top: 60px;
  border-radius: 10px;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #26c485;
  color: #fff;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #26c485;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #26c485;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #26c485;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.h5modal{
  margin-top: 20px;
}

.chip-icon {
  background-color: #7e7e7e !important;
  color: #fbfcff !important;
}

.buttonfigma{
  height: 50px;
  width: 300px;
  border-radius: 8px;

  
  /* $green */
  color: white;
  background: #26C485;
  box-shadow: 0px 11px 30px rgba(5, 59, 94, 0.5);
  border-radius: 8px ;
  border: none;
  

}
