//margem do primeiro título
.mobile-margin-title{
  margin-top: 80px;
}

//margem e tamanho dos passos
.mobile-step-size{
  margin-top: 80px; 
  
}

.mobile-button-date{
  height: 50px;
  width: 300px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background: #26C485;
  box-shadow: 0px 11px 30px;
  border: none;
  margin-top: 50px;
  font-size: 14px;
}

//botão de confirmar hora
.mobile-button-hour{
  height: 50px;
  width: 120px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background: #26C485;
  box-shadow: 0px 11px 30px;
  border: none;
  margin-top: 50px;
  font-size: 14px;
  margin: 20px;
}

//botão de trocar a data
.button-change-date-mobile{
  height: 25px;
  width: 100px;
  border-radius: 8px;
  margin-left: auto;
  color: white;
  background: #086bac;
  box-shadow: 0px 11px 30px;
  border-radius: 8px ;
  border: none;
  margin-top: 20px;
  font-size: 14px;
}

//botão de confirmar o agendamento
.mobile-button-acept{
  height: 50px;
  width: 200px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background: #26C485;
  box-shadow: 0px 11px 30px;
  border: none;
  margin-top: 50px;
  font-size: 14px;
  margin: 20px;
}