.money-color{
  color: #26C485;
}

.inputcolor {
  border: none;
  border-bottom: 2px solid grey;
  width: 60px;
  margin-left: 13px;
}

.alignbutton{
  justify-content: center;
}

.boxshadowplan{
    box-shadow: 2px 2px 2px 2px #c6c6c6;
}

.obj-align{
  justify-content: center;
}

.margin-obj{
  margin-left: -20px;
}

.tracohr{
  border: 1px dashed;
  
}

.othermargin{
  margin-right: -17px;
}

.formspace{
  margin-left: 40px;
  width: 250px;
}

.buttonspace{
  margin-left: 40px;
}

.buttonwidth{
  width: 100px;
}

.iconbutton{
  color: gray;
}

.button-font{
  width: 130px;
}

.icon-ssize{
  font-size: 17px !important;
  color: #086bac;
}

.button-icon {
  width:30px !important;
  height: 30px !important;
  margin-left: -10px;
  background-color: white;
  border: none;
  box-shadow: 0.5px 0.5px 1px 1px #eeeded;
  border-radius: 1px;
}

.buttonpag{
  width: 150px;
}

.addpag{
   width: 160px;
}

.upbutton{
 border:1px dashed gray;
 width: 140px;
}