<div style="">
  <div style="background: #086bac; background-color: #086bac; margin: 0px auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #086bac; background-color: #086bac; width: 100%;">
      <tbody>
        <tr>
          <td style="direction: ltr; font-size: 0px; padding: 20px 0; text-align: center;">
            <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                <tr>
                  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                      <tbody>
                        <tr>
                          <td style="width: 300px;">
                            <img height="auto" src="https://medcapital-site-main.s3-sa-east-1.amazonaws.com/logoMedcapital-invert.png" style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;" width="300" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <p style="border-top: solid 4px #fbfcff; font-size: 1px; margin: 0px auto; width: 100%;"></p>
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 0px; word-break: break-word;">
                    <div style="height: 50px;">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <div style="font-family: lato; font-size: 2rem; line-height: 1; text-align: center; color: #fbfcff;">Olá <%= @record.name.split(" ").first %>, bem-vindo à MedCapital!</div>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 0px; word-break: break-word;">
                    <div style="height: 50px;">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <div style="font-family: lato; font-size: 1rem; line-height: 1; text-align: center; color: #fbfcff;">Para confirmar sua conta clique no botão abaixo:</div>
                  </td>
                </tr>
                <tr>
                  <td align="center" vertical-align="middle" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: separate; line-height: 100%;">
                      <tr>
                        <td align="center" bgcolor="#00C287" role="presentation" style="border: none; border-radius: 3px; cursor: auto; mso-padding-alt: 10px 25px; background: #00c287;" valign="middle">
                          <a href="<%= @confirmation_link %>" style="
                                      display: inline-block;
                                      background: #00c287;
                                      color: #ffffff;
                                      font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                      font-size: 13px;
                                      font-weight: normal;
                                      line-height: 120%;
                                      margin: 0;
                                      text-decoration: none;
                                      text-transform: none;
                                      padding: 10px 25px;
                                      mso-padding-alt: 0px;
                                      border-radius: 3px;
                                  " target="_blank">
                            Confirmar Conta
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 0px; word-break: break-word;">
                    <div style="height: 70px;">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <div style="font-family: lato; font-size: 1rem; line-height: 1; text-align: center; color: #fbfcff;">Caso tenha algum problema com o botão acima copie o link abaixo:</div>
                    <input type="text" value="<%= @confirmation_link %>" readonly style="
                              margin-top: 2rem;
                              height: 2rem;
                              width: 18rem; 
                              padding: 1rem;
                              border: none;
                              background-color: #fbfcff;
                              color: #086bac;
                              font-weight: bold;
                              font-size: 1rem;
                            ">
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="background: #fbfcff; background-color: #fbfcff; margin: 0px auto; max-width: 600px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #fbfcff; background-color: #fbfcff; width: 100%;">
      <tbody>
        <tr>
          <td style="direction: ltr; font-size: 0px; padding: 20px 0; text-align: center;">
            <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                <tr>
                  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <div style="font-family: lato; font-size: 1.2rem; line-height: 1; text-align: center; color: #086bac;">Caso tenha qualquer dúvida,favor entrar em contato conosco pelo email</div>
                  </td>
                </tr>
                <tr>
                  <td align="center" vertical-align="middle" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: separate; line-height: 100%;">
                      <tr>
                        <td align="center" bgcolor="#086bac" role="presentation" style="border: none; border-radius: 3px; cursor: auto; mso-padding-alt: 10px 25px; background: #086bac;" valign="middle">
                          <a href="mailto:atendimento@medcapital.com.br" style="
                                    display: inline-block;
                                    background: #086bac;
                                    color: #ffffff;
                                    font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                    font-size: 13px;
                                    font-weight: normal;
                                    line-height: 120%;
                                    margin: 0;
                                    text-decoration: none;
                                    text-transform: none;
                                    padding: 10px 25px;
                                    mso-padding-alt: 0px;
                                    border-radius: 3px;
                                  " target="_blank">
                            atendimento@medcapital.com.br
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>