<div class="mt-5 col-12">
    <h5>Caio esse é o seu Dashboard de Recebimentos que são faturados por terceiros. Só selecionar um mês para acompanhar a sua <strong>Produção</strong> mensal ou lançar um novo <strong>Recebimento</strong>.</h5>
  </div>
  
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <h4>Ano Exercício 2021</h4>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-sm my-3 f-1 w-100" data-target="mobile--operations--products--tax-filings--entities--dashboard.changeYear" data-action="click->mobile--operations--products--tax-filings--entities--dashboard#changeYear">Mudar o Ano</button>
    </div>
  </div>

<div class="row dashboard-content my-3">

  <div class="col-12">
    <h3>Planner Financeiro</h3>
    <hr>
  </div>

  <div class="col-6">
    <div class="card card-products-mobile text-center p-3">
      <span class="material-icons md-primary md-400">person</span>
      <span class="my-2">Meu Planner</span>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-products-mobile text-center p-3">
      <span class="material-icons md-primary md-400">stacked_line_chart</span>
      <span class="my-2">Rendimentos</span>
    </div>
  </div>

</div>

<div class="row dashboard-content my-3">

  <div class="col-6">
    <div class="card card-products-mobile text-center p-3">
      <span class="material-icons md-primary md-400">receipt_long</span>
      <span class="my-2">Impostos e Apurações</span>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-products-mobile text-center p-3">
      <span class="material-icons md-primary md-400">attach_money</span>
      <span class="my-2">Despesas</span>
    </div>
  </div>

</div>

<div class="row dashboard-content my-3">

  <div class="col-6">
    <div class="card card-products-mobile text-center p-3">
      <span class="material-icons md-primary md-400">settings</span>
      <span class="my-2">Configurações</span>
    </div>
  </div>

</div>