<div class="row dashboard-content my-3">

  <div class="col-12 d-flex">
    <div class="col-3 text-center">
      <span class="material-icons md-primary ml-3">dashboard</span>
      <span class="">Dashboard</span>
    </div>

    <div class="col-9">
      <h3 class="">Meu Planner</h3>
      <hr>
    </div>
    
  </div>

</div>

<div class="row dashboard-content my-3 d-flex alignbutton">
  <div class="">
    <button class="btn btn-primary py-3" type="submit">Todos os Objetivos</button>
  </div>
</div>

<div class="row dashboard-content my-3">

  <div class="col-12 my-3">
    <div class="card card-products-mobile p-4">
      <h4 class="text-left">Meus Rendimentos</h4>
      <h3 class="my-2 text-center money-color">R$ 10.000,00</h3>
    </div>
  </div>
  
</div>

<div class="row dashboard-content my-3">

  <div class="col-6">
    <div class="card card-products-mobile text-center p-4">
      <h4 >Minha Meta</h4>
      <div class="d-flex">
        <input type="text" class="inputcolor">
        <span class="material-icons md-sm">create</span>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-products-mobile text-center p-4">
      <h4 >Aporte Real</h4>
      <span>0,00 %</span>
    </div>
  </div>

</div>

<div class="row dashboard-content my-4">

  <div class="col-6">
    <div class="card card-products-mobile text-center p-4">
      <h4 class="">Minha Meta</h4>
      <span>R$ 0,00</span>
    </div>
  </div>

   <div class="col-6">
    <div class="card card-products-mobile text-center p-4">
      <h4 class="">Aporte Real</h4>
      <span>0,00 %</span>
    </div>
  </div>

</div>