<div class="row dashboard-content my-3">

  <div class="col-12 d-flex">

    <div class="col-3 text-center">
      <span class="material-icons md-primary ml-3">dashboard</span>
      <span class="">Dashboard</span>
    </div>

    <div class="col-9">
      <h3 class="">Pessoa física</h3>
      <hr>
    </div>
    
  </div>

</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <div class="">
      <button class="btn btn-secundary p-3 mr-3" type="submit">Voltar</button>
    </div>
    <div class="">
      <button class="btn btn-primary  p-3 ml-4" type="submit">Adicionar Pessoa Física</button>
    </div>
  </div>
</div>

<div class="card mt-4">

  <div class="row mt-3">
    <div class="col-10">
    </div>
    <div class="col-2">
      <button class=" button-icon"><span class="material-icons icon-ssize">create</span></button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">Nome</label>
          <input readonly value="Caio Bruno Chaves Maia" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">CPF</label>
          <input readonly value="858.757.735.29" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">Data de Nascimento</label>
          <input readonly value="29/06/1999" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card mt-4">

  <div class="row mt-3">
    <div class="col-10">
    </div>
    <div class="col-2">
      <button class=" button-icon"><span class="material-icons icon-ssize">create</span></button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">Nome</label>
          <input readonly value="Caio Bruno Chaves Maia" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">CPF</label>
          <input readonly value="858.757.735.29" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <form class=" ">
        <div class="form-group">
          <label for="exampleInputte1">Data de Nascimento</label>
          <input readonly value="29/06/1999" type="text" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp" placeholder="Escolha uma data"> 
        </div>
      </form>
    </div>
  </div>
</div>

