<div class="medcapital_01n">
  <div class="medcapital_02p">
    <div class="medcapital_03q">
      <div class="medcapital_04s">
        <% if current_user %>
          <div data-controller="app--visits--users" data-current-user-id="<%= current_user.id %>"></div>
        <% end %>
        <div data-controller="app--shared--messages"></div>
        <div data-controller="app--shared--cookies"></div>
        <div data-controller="app--shared--mobile" data-device="<%= mobile_device %>"></div>
        <div data-controller="app--helpers--csv"></div>
        <div data-controller="app--helpers--numbers"></div>
        <div data-controller="app--helpers--strings"></div>
        <div data-controller="app--helpers--time"></div>
        <div data-controller="app--helpers--forms"></div>
        <div data-controller="app--helpers--elements"></div>
        <div data-controller="app--helpers--data"></div>
        <div data-controller="app--helpers--date"></div>
        <div data-controller="app--helpers--pickdate"></div>
        <div data-controller="app--helpers--tax-number"></div>
        <div data-controller="app--helpers--table"></div>
        <div data-controller="app--helpers--input"></div>
        <div data-controller="app--helpers--layout"></div>


      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // currentUser = < %= current_user.to_json.html_safe % >
  });
</script>