<header class="navbar navbar-dark navbar-full bg-primary doc-navbar-default fixed-top">
  <button data-target="#myNavdrawer" data-toggle="navdrawer" type="button" class="navbar-toggler">
    <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Dashboard">menu</i>
  </button>
    <a class="brand-2 w-nav-brand w--current"> <img src="https://app-medcapital.s3-sa-east-1.amazonaws.com/imagens/logo_2.png" class="image-10" style="width: 191px; padding: 4px;"> </a>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="d-flex align-items-center nav-link nav-link-text" href="#"><i class="material-icons">notification_important</i></a></li>
    </ul>
</header>
<div class="progress progress-navbar sticky-top">
  <div class="progress-bar progress-bar-indeterminate progress-bar-navbar" role="progressbar"></div>
</div>


<div aria-hidden="true" class="navdrawer navdrawer-default" id="myNavdrawer" tabindex="-1">
  <div class="navdrawer-content">
  
    <!-- <nav class="navdrawer-nav">
      <a class="nav-item nav-link active" href="#">Active</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
      <a class="nav-item nav-link" href="#">Link</a>
    </nav>
    <div class="navdrawer-divider"></div>
    <p class="navdrawer-subheader">Navdrawer subheader</p> -->
    <ul class="navdrawer-nav">
      <li class="span4" style="text-align: center;">
        <img src="" alt="imagem perfil" style="width: 60%; border-radius: 50%;">
        <h2 style="color: black; font-size: 15px; margin-top: 13px;font-weight: 700;margin-bottom: 23px;">Nome do Usuário</h2>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/declaracoes" id="navbarControl"><i class="material-icons"style="color:#086BAC;float: left;position: relative;">track_changes</i> 
        <h2 style="font-size: 14px;color: black;margin-top: 3px; float:left;padding-left: 10px;font-weight: 500;">Imposto de Renda</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard-acumulacao" id="navbarAccumulation"><i class="material-icons"style="color:#086BAC;float: left;position: relative;">trending_up</i>
        <h2 style="font-size: 14px;color: black;margin-top: 3px; float:left;padding-left: 10px;font-weight: 500;">Pessoa Jurídica</h2></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="text-align:left;" href="/central-do-plantao" id="navbarAttendance"><i class="material-icons"style="color:#086BAC;float: left;position: relative;">question_answer</i>
        <h2 style="font-size: 14px;color: black;margin-top: 3px; float:left; padding-left: 10px;font-weight: 500;">Pessoa Física</h2></a>
      </li>
    </ul>
  </div>
</div>